.confirm-and-pay-div {
  position: relative;
  padding: 0 8%;
  margin-bottom: 3rem;
  display: flex;
  gap: 1.5rem;
  padding-bottom: 1.75rem;
}

.confirm-and-pay-h1 {
  font-family: var(--font-roboto-serif), serif;
  font-kerning: normal;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.payment-form-container {
  flex: 0.7 1 0;
  min-width: 320px;
}

.divider {
  padding: 0 8%;
  position: absolute;
  left: 8%;
  bottom: 0;
  width: calc(100% - 16%);
  border-bottom: 1px solid var(--mantine-color-gray-4);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .confirm-and-pay-div { 
    flex-direction: column;
  }
  .confirm-and-pay-h1 {
    display: none;
  }
  .payment-form-container { 
    min-width: 250px;
    order: 1;
  }
}