.confirm-and-pay-div {
  padding: 0 8%;
  margin-bottom: 3rem;
  display: flex;
  gap: 1.25rem;
}

.confirm-and-pay-h1 {
  font-family: var(--font-roboto-serif), serif;
  font-kerning: normal;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 3rem;
}

.payment-form-container {
  flex: 0.7 1 0;
  min-width: 320px;
}
