.total-payable-div > h1 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.info-banner {
  border: 1px solid var(--mantine-color-gray-4);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}

.info-icon-container {
  display: flex;
  padding-top: 0.3125rem;
}