.free-cancellation-banner-div {
  border: 1px solid var(--mantine-color-gray-4);
  border-radius: 1rem;
  position: relative;
  padding: 1rem;
  margin-bottom: 2rem;
}

.free-cancellation-banner-div > h2 {
  font-size: 14px;
}

.free-cancellation-banner-div > p {
  font-size: 14px;
  color: var(--text-grey-secondary);
}

.info-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.25rem;
  fill: var(--mantine-color-gray-6);
}