:root {
  --text-grey-primary: #1C2024;
  --text-grey-secondary: #60646C;
  --text-grey-tertiary: #7D828A;
  --text-grey-footer-links: #ADB1B8;
  --grey-divider: #3C3F44;
}

* {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-grey-primary);
}

a {
  text-decoration: none;
}