.payment-form > div {
  padding: 1.75rem 0;
  padding-top: 0;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid var(--mantine-color-gray-4);
}

.header {
  margin-bottom: 1.75rem;
}

.header > h2 {
  font-weight: 600;
  margin-bottom: 0.3125rem;
}

.form-elements-container {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.two-inputs-in-single-line-div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.two-inputs-in-single-line-div > div {
  flex: 1 1 0;
}

.payment-form-div.fullwidth-inputs .two-inputs-in-single-line-div {
  flex-direction: column;
}

.form-elements-container :global(.mantine-Input-input) {
  border-radius: 0.625rem;
  padding: 0.3125rem 1rem;
  height: auto;
}

.form-elements-container :global(.mantine-Input-wrapper[data-with-left-section="true"]) :global(.mantine-Input-input) {
  padding-left: 2rem;
}

.form-elements-container :global(.mantine-Select-wrapper[data-with-left-section="true"] .mantine-Select-input)  {
  padding-left: 2rem;
}

.form-elements-container :global(.mantine-Select-wrapper[data-with-right-section="true"] .mantine-Select-input)  {
  padding-right: 2rem;
}

.form-elements-container :global(.mantine-MultiSelect-input) {
  padding: 0.675rem 1rem;
}

/* ModeOfPayment component styles */
.payment-card-div {
  border: 1px solid var(--text-grey-primary);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.payment-card-div h3 { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
  font-weight: 600;
  font-size: 1rem;
  gap: 1rem;
}

.card-icon-and-credit-text-container {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.payment-card-icon {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
}

.icon-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.25rem;
  border: 1px solid var(--mantine-color-gray-4);
  border-radius: 0.3125rem;
}

.card-type-icons-container {
  display: flex;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
}

.mode-of-patment-form-elements-container {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--mantine-color-gray-4);
  margin-bottom: 1rem;
}

.total-payable-you-will-be-charged-in-text-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.total-payable-text-p {
  display: flex;
  gap: 0.3125rem;
  font-size: 1.125rem;
  color: var(--text-grey-primary);
  font-weight: bold;
  margin-bottom: 0.3125rem;
}

.you-will-be-charged-in-text-p {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: underline;
}

.you-will-be-charged-in-text-p span:nth-child(2) {
  display: flex;
  align-items: center;
}

.total-payable-you-will-be-charged-in-text-container :global(.mantine-Badge-root) {
  height: auto;
  align-self: flex-start;
  padding: 0.125rem 0.625rem;
  font-size: 0.75rem;
  text-transform: none;
  background-color: var(--mantine-color-green-9);
  margin-top: 4px;
}

.agree-policy-links-p {
  margin-bottom: 1rem;
}

.agree-policy-links-p a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: blue;
}

.confirm-and-pay-btn {
  background-color: black;
  font-weight: 400;
  height: 3.125rem;
  border-radius: 1rem;
  font-size: 1rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .payment-form { 
    padding-top: 2rem;
    border-top: 1px solid var(--mantine-color-gray-4);
  }
}

@media screen and (max-width: 1024px) {
  .total-payable-you-will-be-charged-in-text-container { 
    flex-direction: column;
  }
  .total-payable-you-will-be-charged-in-text-container div:nth-child(1) {
    order: 1;
    margin-top: 1rem;
  }
}